<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    body {
      background-color: #212529;
    }
    .vertical-center {
      margin:auto;
      transform: translateY(80%);
    }

</style>
  
<body>
    <div ALIGN='center' class="vertical-center">
    <h2 style="color: white;">This is a web app for APIs Only</h2> <br> <br>
    <a href="https://github.com/nikhil631/Videomaker_API_only"><button style="background-color: rgb(128, 235, 128); color: rgb(0, 1, 1); height: 40px;">See Documentation</button></a>
    </div>
</body>
</html>